@font-face {
  font-family: 'Content';
  font-weight: normal;
  font-style: normal;
  src: url('/src/font/Ogg-Regular.ttf') format('truetype');
  font-display: swap;
}

$textColor: #1B1C1E;
$hoverColor: #0203048a;

body {
  .navigation h1:hover {
      transition: .2s;
      opacity: .55;
  }
  .content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    ::selection {
      color: #CEDBF0;
      background: #737d8d;
    }
    ::-moz-selection {
      color: #CEDBF0;
      background: #737d8d;
    }
    p {
      position: relative;
      font-family: 'Content', 'Times New Roman', Times, serif ;
      font-size: 3.5vh;
      text-align: center;
      color: $textColor;
      a {
        transition: .2s;
        text-decoration: underline;
        -webkit-text-decoration-color: lightskyblue;
        text-decoration-color:lightskyblue;
        -webkit-text-decoration-style: wavy;
        text-decoration-style: wavy;
      }
      a:hover {
        transition: .2s;
        color: $hoverColor;
      }
    }
  }
  a {
    text-decoration: none;
    color: $textColor;
  }
}

@media (prefers-color-scheme: dark) {
  $textColor: #FAFAFA;
  $hoverColor: #BBC6C6;

  body {
    .navigation h1:hover {
        transition: .2s;
        opacity: .55;
    }
    .content {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      ::selection {
        color: #b0bed6;
        background: #4d545f;
      }
      ::-moz-selection {
        color: #b0bed6;
        background: #4d545f;
      }
      p {
        position: relative;
        font-family: 'Content', 'Times New Roman', Times, serif ;
        font-size: 3.5vh;
        text-align: center;
        color: $textColor;
        a {
          transition: .2s;
          text-decoration: underline;
          -webkit-text-decoration-color: lightskyblue;
          text-decoration-color:lightskyblue;
          -webkit-text-decoration-style: wavy;
          text-decoration-style: wavy;
        }
        a:hover {
          transition: .2s;
          color: $hoverColor;
        }
      }
    }
    a {
      text-decoration: none;
      color: $textColor;
    }
  }
}


@media screen and (max-width: 414px) {
  body {
    .content p {
      font-size: 3vh;
    }
  }
}