@font-face {
  font-family: 'Content';
  font-weight: normal;
  font-style: normal;
  src: url('/src/font/Ogg-Regular.ttf') format('truetype');
  font-display: swap;
}

$blackColor: #1b1c1e;
$hoverColor: #0203048a;

body {
  .navigation h1:hover {
      transition: .2s;
      opacity: .55;
  }
  .content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      position: relative;
      font-family: 'Content';
      font-size: 3.5vh;
      text-align: center;
      a {
        transition: .2s;
        text-decoration: underline;
        -webkit-text-decoration-color: lightskyblue;
        text-decoration-color:lightskyblue;
        -webkit-text-decoration-style: wavy;
        text-decoration-style: wavy;
      }
      a:hover {
        transition: .2s;
        color: $hoverColor;
      }
    }
  }
  a {
    text-decoration: none;
    color: $blackColor;
  }
}

@media screen and (max-width: 414px) {
  body {
    .content p {
      font-size: 3vh;
    }
  }
}