html#ecwid_html body#ecwid_body {
  .ecwid-pswp {
    .pswp__button--close::before, .pswp__button--zoom::before, .pswp__button--arrow--left::before, .pswp__button--arrow--right::before {
      background-color: cornflowerblue !important;
    }
    .pswp__item, .pswp--has_mouse .pswp__button--arrow--right {
      background-color: var(--banner) !important;
    }
    .pswp__caption {
      background-color: var(--banner) !important;
    }
    .pswp__caption__center {
      color: var(--textColor) !important;
    }
  }
  .ec-size .ec-store .grid-product__title-inner, .grid-product__price-amount {
    color: var(--textColor) !important;
  }
}

body {
  background: var(--banner) !important;
  .navigation h1:hover {
      transition: .2s;
      opacity: .55;
  }
  main {
    margin-top: 1vh;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    line-height: 40px;
    text-align: center;
    width: 90%;
    .ec-store__category-page {
      margin-top: 150px !important;
    }
    .ec-store__product-page {
      margin-top: 14vh !important;
    }
    .ec-page-title {
      display: none;
    }
    .ec-cart {
      margin-top: 40vh !important;
      margin-bottom: 35vh !important;
      color: var(--textColor);
    }
    .product-details__sidebar, .ec-price-item, .form-control__inline-label {
      color: var(--textColor);
    }
    .product-details__product-price-shipping {
      color: var(--infoGrey);
    }
    ::selection {
      color: #CEDBF0;
      background: #737d8d;
    }
    ::-moz-selection {
      color: #CEDBF0;
      background: #737d8d;
    }
    p {
      color: var(--textColor);
      a {
        transition: .2s;
        text-decoration: underline;
        -webkit-text-decoration-color: lightskyblue;
        text-decoration-color:lightskyblue;
        -webkit-text-decoration-style: wavy;
        text-decoration-style: wavy;
      }
      a:hover {
        transition: .2s;
        color: var(--hoverColor);
      }
    }
  }
  a {
    text-decoration: none;
    color: var(--textColor);
  }
  footer {
    display: block !important;
  }
}


@media screen and (max-width: 950px) {
  body {
    main {
      margin-top: -1vh;
    }
  }
}

@media screen and (max-width: 414px) {
  body {
    main {
      margin-top: -4.5vh;
    }
  }
}

@media screen and (max-width: 375px) {
  body main {
    .ec-store__product-page {
      margin-top: 17.5vh !important;
    }
  }
}