body {
  background: var(--banner) !important;
  .navigation h1:hover {
      transition: .2s;
      opacity: .55;
  }
  .content {
    position: absolute;
    top: 10vh;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    ::selection {
      color: #CEDBF0;
      background: #737d8d;
    }
    ::-moz-selection {
      color: #CEDBF0;
      background: #737d8d;
    }
    p {
      position: relative;
      font-family: 'Content', 'Times New Roman', Times, serif ;
      font-size: 3.5vh;
      text-align: center;
      color: var(--textColor);
      a {
        transition: .2s;
        text-decoration: underline;
        -webkit-text-decoration-color: lightskyblue;
        text-decoration-color:lightskyblue;
        -webkit-text-decoration-style: wavy;
        text-decoration-style: wavy;
      }
      a:hover {
        transition: .2s;
        color: var(--hoverColor);
      }
    }
  }
  a {
    text-decoration: none;
    color: var(--textColor);
  }
}

@media screen and (max-width: 1920px) {
  body .content {
    top: 15vh;
  }
}

@media screen and (max-width: 1378px) {
  body .content {
    top: 65vh;
  }
}

@media screen and (max-width: 414px) {
  body {
    .content {
      top: 105vh;
    }
    .content p {
      font-size: 3vh;
    }
  }
}