@font-face {
  font-family: 'Content';
  src: url('/src/font/Ogg-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$blackColor: #1b1c1e;
$hoverColor: #0203048a;

body {
  // height: 98.1vh;
  // height: 196.2vh;
  .content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    ::selection {
      color: #CEDBF0;
      background: #737d8d;
    }
    ::-moz-selection {
      color: lightskyblue;
      background: $blackColor;
    }
    .page-1 p {
      position: relative;
      font-family: 'Content';
      font-size: 3.5vh;
      text-align: center;
      a {
        transition: .2s;
        text-decoration: underline;
        -webkit-text-decoration-color: lightskyblue;
        text-decoration-color:lightskyblue;
        -webkit-text-decoration-style: wavy;
        text-decoration-style: wavy;
      }
      a:hover {
        transition: .2s;
        color: $hoverColor;
      }
    }
    .page-2 p {
      display: none;
      position: relative;
      font-family: 'Content';
      font-size: 3.5vh;
      text-align: center;
      a {
        transition: .2s;
        text-decoration: underline;
        -webkit-text-decoration-color: lightskyblue;
        text-decoration-color:lightskyblue;
        -webkit-text-decoration-style: wavy;
        text-decoration-style: wavy;
      }
      a:hover {
        transition: .2s;
        color: $hoverColor;
      }
    }
  }
  a {
    text-decoration: none;
    color: $blackColor;
  }
}

@media screen and (max-width: 414px) {
  body {
    .content p {
      font-size: 3vh;
    }
  }
}